<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% for website in websites %}
    <div>
        {{ website.url }}
    </div>
    <div>
    <img src="{{ website.logo }}">
    </div>
{% endfor %}
<div>
    <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>