<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
{% for task in tasks %}
    {{ task.url }}<br>
{% endfor %}
<a href="{% url "add_websites" %}">Add websites</a>
</body>
</html>